  @charset "UTF-8";
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-family: "Poppins", sans-serif;
  }
  
  @media (max-width: 576px) {
    header{
      display: none;
    }
  }
 header a {
    text-decoration: none;
    color: #212529;
  }
  
 header li {
    list-style: none;
  }
  
  header {
    padding-top: 25px;
  }
  header .header-top {
    padding-bottom: 2rem;
  }
  header .header-top .header-input .search i {
    position: absolute;
    top: 38px;
    left: 22rem;
  }
  header .header-top .header-input .search input {
    width: 200%;
    padding: 8px 45px;
    margin-left: 3rem;
    border-radius: 6px;
    border: 1px solid rgba(33, 37, 41, 0.1882352941);
    outline: none;
  }
  header .header-top .header-input .search ::-moz-placeholder {
    opacity: 0.5;
    font-size: 13px;
  }
  header .header-top .header-input .search :-ms-input-placeholder {
    opacity: 0.5;
    font-size: 13px;
  }
  header .header-top .header-input .search ::placeholder {
    opacity: 0.5;
    font-size: 13px;
  }
.header-main #top-menu li:hover{
  color: #dc3545;

}
  

  header .header-main {
    background-color: #f7f7f7;
    align-items: center;
    text-align: center;
  }
  header .header-main .header-navbar {
    height: 55px;
  }
  header .header-main .header-navbar .header-nav-department .header-department-text {
    border: none;
    background-color: #3577f0;
    width: 125%;
    height: 55px;
    text-align: start;
  }
  header .header-main .header-navbar .header-nav-department .header-department-text .icon i {
    font-size: 20px;
    color: #fff;
    padding-left: 30px;
  }
  header .header-main .header-navbar .header-nav-department .header-department-text .text {
    color: #fff;
    font-size: 14px;
    padding-left: 17px;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu {
    border: 1px solid rgba(33, 37, 41, 0.0666666667);
    width: 125%;
    padding-right: 2rem;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .li {
    padding: 13px 0;
    border-bottom: #212529;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .li #megamenu-icon {
    transition: 0.5s;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .li:hover .menu-text {
    color: #292930;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .li:hover #megamenu-icon {
    color: #3577f0;
    transform: translateY(-50%) rotate(-90deg);
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .li:hover .department-megamenu {
    visibility: visible !important;
    opacity: 1 !important;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .li .a-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .li .menu-icon {
    width: 20%;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .li .menu-icon img {
    width: 60%;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .li .menu-text {
    width: 50%;
    color: rgba(33, 37, 41, 0.5098039216);
    font-size: 14px;
    transition: 0.5s;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .li i {
    color: #212529;
    font-size: 12px;
    opacity: 0.5;
    text-align: end;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu {
    position: absolute;
    top: 21%;
    left: 23%;
    width: 900px;
    z-index: 3;
    transform: translateX(10px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    margin-left: 1px;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap {
    background-color: #fff;
    border-radius: 0 0 24px 0;
    box-shadow: 40px 40px 48px 0px rgba(36, 41, 47, 0.1);
    padding: 30px;
    display: flex;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .department-submenu-wrap {
    flex: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 20px 0px;
         column-gap: 20px 0px;
    border-right: 2px solid #f6f7fb;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .department-submenu-wrap .department-submenu {
    opacity: 1;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .department-submenu-wrap .department-submenu ul {
    margin-bottom: 20px;
    border: none;
    text-align: start;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .department-submenu-wrap .department-submenu ul h3 {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-bottom: 6px;
    margin-left: 10px;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .department-submenu-wrap .department-submenu ul li {
    padding: 5px 0;
    color: #777777;
    font-family: "DM Sans", sans-serif;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .department-submenu-wrap .department-submenu ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #777777;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .department-submenu-wrap .department-submenu:nth-child(1) {
    transition-delay: 0.1s;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .department-submenu-wrap .department-submenu:nth-child(2) {
    transition-delay: 0.3s;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .department-submenu-wrap .department-submenu:nth-child(3) {
    transition-delay: 0.2s;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .featured-product {
    padding: 0 30px;
    opacity: 1;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .featured-product h3 {
    font-size: 16px;
    color: black;
    margin-bottom: 12px;
    text-align: start;
    font-weight: 600;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .featured-product .product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .featured-product .product-list .item-product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 0;
    padding-bottom: 20px;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .featured-product .product-list .item-product a {
    overflow: hidden;
    display: inline-block;
    border-radius: 8px;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .featured-product .product-list .item-product a img {
    border-radius: 8px;
    transition: 0.4s ease-in-out;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .featured-product .product-list .last-item-products {
    display: flex;
    justify-content: space-around;
  }
  header .header-main .header-navbar .header-nav-department .ul-menu .department-megamenu .department-megamenu-wrap .featured-product .btn-offers {
    background-color: #3577f0;
    color: #fff;
    font-weight: 600;
    padding: 18px 70px;
    border-radius: 8px;
  }
  header .header-main .header-main-nav nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 1rem;
  }
  header .header-main .header-main-nav nav ul li {
    margin-right: 40px;
    padding: 5px 4px;
  }
  header .header-main .header-main-nav nav ul li a {
    color: #212529;
    font-size: 14px;
    font-weight: 600;
  }
  header .header-main .header-main-nav nav ul li a i {
    opacity: 0.3;
    font-size: 12px;
  }
  header .header-main .header-main-nav #top-menu {
    position: relative;
    cursor: pointer;
  }
  header .header-main .header-main-nav #top-menu:hover #drop-menu {
    visibility: visible;
    z-index: 2;
    opacity: 1;
    top: 25px;
  }
  header .header-main .header-main-nav #drop-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: -10px;
    width: 220px;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    top: 20px;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  header .header-main .header-action ul {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }
  header .header-main .header-action ul li {
    position: relative;
  }
  header .header-main .header-action ul li .magnifying-glass {
    display: none;
  }
  header .header-main .header-action ul li .menu {
    display: none;
  }
  header .header-main .header-action ul li #icon {
    font-size: 20px;
    color: #212529;
    margin-left: 25px;
    padding-top: 8px;
    cursor: pointer;
    z-index: 10000;
    transition: 0.5s;
    width: 35px;
    height: 35px;
  }
  header .header-main .header-action ul li #icon:hover {
    background-color: #ff497c;
    border-radius: 50%;
    color: #fff;
  }
  header .header-main .header-action ul li #pr-count {
    position: absolute;
    text-align: center;
    background-color: #3577f0;
    color: #fff;
    border: 2px solid #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: -4px;
    right: -7px;
  }
  .header-top .dropbtn {
    color: rgb(0, 0, 0);
    margin-left: 45px;
    margin-bottom: 19px;
    background-color: white;
  
    font-size: 16px;
    border: none;
    transition: 0.6s;
  }
  
  .header-top .dropdown2 {
    position: relative;
    display: inline-block;
    
  }
  
  .header-top .dropdown-content {
    
    display: none;
    position: absolute;
  
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  .header-top .menu-nav{
    position: relative;
  }
  .header-top .dropdown2  button::before{
    content: "";
    position: absolute;
    bottom: 19px;
    left: 41px;
    width: 0%;
    height: 2px;
    transition: 0.5s;
    background-color: #000000;
    cursor: pointer;
  
  }
  .header-top .dropdown2  button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .header-top  .dropdown2 i{
  
    padding-left: 3px;
    font-size: 13px;
    color: rgb(185, 183, 183);
  }
  .header-top .dropdown2 button:hover::before{
    width: 65%;
  }
  .header-top .dropdown2 button{
    background-color: #f3f4f4d2;
  }
  .header-top .dropdown2 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
  }
  .header-top .dropdown2 .dropdown-content{
    border-radius: 5px;
    background-color: white;
  }
 .header-top  .dropdown2 .dropdown-content a:hover{
    color: #dc3545;
  }
  
  
 .header-top  .dropdown2:hover .dropdown-content{display: block;}
  
    
  .header-top .dropdown4 {
    position: relative;
    display: inline-block;
    
  }
  
 .header-top  .dropdown4 .dropdown-content2 {
  
    position: absolute;
    min-width: 245px;
  }
  .header-top .dropdown4 .dropdown-content2 img{
    width: 22%;
    padding: 0 12px;
  }
  
  .header-top .dropdown4 .dropdown-content2 a {
    color: rgb(162, 162, 162);
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 13.5px;
    border: 1px solid rgb(250, 247, 247);
  }

  .headerContactPhone .left-category .logo{
    background-color: #3577f0;
    color: white;
    text-align: center;
    width: 160px;
    height: 45px;
    cursor: pointer;
    border-radius: 8px;
  }

  .sidebar{
  top: 0;
  position: fixed;
  width: 240px;
  right: -240px;
  height: 100%;
  background: #ffffff;
  transition: all .5s ease;
  z-index: 5;
  border: 1px solid rgb(241, 238, 238);

}
.sidebar header{
  font-size: 28px;
  color: rgb(26, 20, 20);
  line-height: 70px;
  text-align: center;
  background: #ffffff;

  font-family: 'Montserrat', sans-serif;
}

.sidebar a{

  font-size: 15px;
  font-weight: bold;
  display: block;
  text-decoration: none;
  height: 45px;
  width: 100%;
  color: rgb(106, 106, 106);
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;

  border-top: 1px solid rgba(255,255,255,.1);
  border-left: 5px solid transparent;
  font-family: 'Open Sans', sans-serif;
  transition: all .5s ease;
}

.sidebar a i{
  font-size: 12px;
  
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #cancel{
  position: absolute;
  top: 68px;
  right: 66px;
  cursor: pointer;
  color: black;
  border-radius: 100%;
  /* border: 1px solid #262626; */
  margin: -47px -48px;
  padding: 0px 0px;
  font-size: 13px;
  background: #f7f6f6;
  height: 30px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  /* padding-bottom: 26px; */
  color: black;
  font-weight: bold;
  transition: all .5s ease;
}
label #cancel:hover{
  background-color: #3577f0;
  color: white;
}
label #btn1{
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 100%;
  /* border: 1px solid #262626; */
  margin: 2px -7px;
  padding: 0px 10px;
  font-size: 22px;
  /* background: #262626; */
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  /* padding-bottom: 26px; */
  color: rgba(128, 128, 128, 0.711);
  transition: all 1s ease;

}

label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  right: 0;
}
#check:checked ~ label #btn1{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
  z-index: 7;

}
#check:checked ~ label #cancel{
  margin-left: 246px;
  opacity: 1;
  visibility: visible;
  z-index: 8;
}

  .slideandphoto{
    position: absolute;
    left: 350px;
    top: 200px;
  }
  .right-photo{
    position: absolute;
    right: 70px;
    top: 200px;
    padding: 16px;
    border-radius: 10px;

    background-color: rgb(240, 240, 240);

  }
  .right-photo a{
    font-size: 16px;
    text-decoration: none;
    color: grey;
  }
  .right-photo a:hover{
    color: rgb(55, 55, 176);
  }
  .right-photo p{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;

  }

#clockdiv h1{
  color: #414141;
  font-weight: 100;
  font-size: 40px;

  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: GalaxieCondensedMedium,Arial,sans-serif;
	color: black;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 12px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;

	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 100%;
	background: #f3f3f3;
	display: inline-block;
  
}

.smalltext{
	padding-top: 15px;
	font-size: 16px;

}
.clock h1{
  font-weight: bold;
  padding-left: 22px;
}
.todays{
  padding: 450px 0 0px 30px;
  color: #8c71db;
  font-weight: bold;
}
.todays i{
  padding-right: 10px;
  
}

#slider1 {
  padding-top: 50px;

	position: relative;
  }
  #slider1 .slick-prev {
	z-index: 1;
	position: absolute;
	top: -40px;
	left: 89%;
	background-color: #f2f2f3;
	color: #212529;
	width: 50px;
	height: 50px;
	border-radius: 5px;
  }
  #slider1 .slick-prev::before {
	content: "<i class="fa-solid fa-angles-left"></i>";
	color: #212529;
  }
  #slider1 .slick-next {
	z-index: 1;
	position: absolute;
	top: -40px;
	right: 28px;
	background-color: #dddee3;
	color: #212529;
	width: 50px;
	height: 50px;
	border-radius: 5px;
  opacity: 0.2;
  }
  #slider1 .slick-next::before {
	content: "<i class="fa-solid fa-angles-right"></i>";
	color: #212529;
  }
  #slider1 .new .card {
	border: none;
	padding: 0 15px;
  }
  #slider1 .new .card .card-img-top {
	position: relative;
	overflow: hidden;
  }
  #slider1 .new .card .card-img-top img {
	transition: 0.3s;
	cursor: pointer;
	width: 100%;
  }
  #slider1 .new .card .card-img-top .shop-list {
	position: absolute;
	bottom: -50px;
	left: 50px;
	transition: 0.3s;
  }
  #slider1 .new .card .card-img-top .shop-list a {
	background-color: #fff;
	padding: 10px 10px;
	text-decoration: none;
  }
  #slider1 .new .card .card-img-top .shop-list .pink {
	background-color: #ff497c;
	padding: 10px 10px;
	border-radius: 5px;
	color: #fff;
  }
  #slider1 .new .card:hover img {
	transform: scale(1.1);
  }
  #slider1 .new .card:hover .shop-list {
	bottom: 30px;
	left: 50px;
	z-index: 0;
  }
  #slider1 .new .card .sale {
	background-color: #3577f0;
	line-height: 1;
	padding: 6px 10px 5px;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgba(53, 119, 240, 0.3);
	position: absolute;
	top: 24px;
	right: 24px;
	z-index: 2;
  }
  #slider1 .new .card .card-body {
	text-align: center;
	z-index: 0;
  }
  #slider1 .new .card .card-body p {
	opacity: 0.6;
	font-weight: 600;
  }
  #slider1 .new .card .card-body .card-text .old-price {
	opacity: 0.6;
	text-decoration: line-through;
	font-weight: 600;
  }
  #slider1 .new .card .card-body .card-text .new-price {
	font-weight: 600;
  }

.categ p{
  color:  #ff497c;
  font-weight: bold;
  padding-top: 30px;

}
.categ h1{
  font-weight: bold;
}

#slider2 .card2 .card-img-top{
  border: 1px solid rgb(237, 237, 237);
  text-align: center;
  width: 85%;
  height: 140px;
  border-radius: 5px;
}

#slider2{
  padding-top: 30px;
  position: relative;
}
#slider2 .card2 .card-img-top img{
  padding: 25px 0 0 48px;
}
#slider2 .card2 p{
  padding-top: 13px;
}

#slider2 .slick-prev{
	z-index: 1;
	position: absolute;
	top: -40px;
	left: 89%;
	background-color: #e4e4e7;
	color: #212529;
	width: 50px;
	height: 50px;
	border-radius: 5px;
  opacity: 0.2;

}
#slider2 .slick-prev::before {
	content: "<i class="fa-solid fa-angles-left"></i>";
	color: #212529;
  }
  #slider2 .slick-next {
    z-index: 1;
    position: absolute;
    top: -40px;
    right: 28px;
    background-color: #e4e4e7;
    color: #dee4e7;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    opacity: 0.2;

    }
    #slider2 .slick-next::before {
    content: "<i class="fa-solid fa-angles-right"></i>";
    color: #7e9ab6;
    }

    #slider2 .card2:hover{
      transform: scale(1.1);

    }

    .bestselling p{
      color: #8c71db;
    }

    #slider3 {
      padding-top: 50px;
    
      position: relative;
      }
      #slider3 .slick-prev {
      z-index: 1;
      position: absolute;
      top: -40px;
      left: 89%;
      background-color: #f2f2f3;
      color: #212529;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      }
      #slider .different-card{
        
      }
      #slider3 .slick-prev::before {
      content: "<i class="fa-solid fa-angles-left"></i>";
      color: #898f96;
      }
      #slider3 .slick-next {
      z-index: 1;
      position: absolute;
      top: -40px;
      right: 28px;
      background-color: #f2f2f5;

      width: 50px;
      height: 50px;
      border-radius: 5px;

      }
      #slider3 .slick-next::before {
      content: "<i class="fa-solid fa-angles-right"></i>";
      color: #bdc9d6;
      }
      #slider3 .new .card {
      border: none;
      padding: 0 15px;
      }
      #slider3 .new .card .card-img-top {
      position: relative;
      overflow: hidden;
      }
      #slider3 .new .card .card-img-top img {
      transition: 0.3s;
      cursor: pointer;
      width: 100%;
      }
      #slider3 .new .card .card-img-top .shop-list {
      position: absolute;
      bottom: -50px;
      left: 50px;
      transition: 0.3s;
      }
      #slider3 .new .card .card-img-top .shop-list a {
      background-color: #fff;
      padding: 10px 10px;
      text-decoration: none;
      }
      #slider3 .new .card .card-img-top .shop-list .pink {
      background-color: #ff497c;
      padding: 10px 10px;
      border-radius: 5px;
      color: #fff;
      }
      #slider3 .new .card:hover img {
      transform: scale(1.1);
      }
      #slider3 .new .card:hover .shop-list {
      bottom: 30px;
      left: 50px;
      z-index: 0;
      }
      #slider3 .new .card .sale {
      background-color: #3577f0;
      line-height: 1;
      padding: 6px 10px 5px;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      border-radius: 4px;
      box-shadow: 0 8px 16px 0 rgba(53, 119, 240, 0.3);
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 2;
      }
      #slider3 .new .card .card-body {
      text-align: center;
      z-index: 0;
      }
      #slider3 .card-text span{
        font-size: 22px;
      }
      #slider3 .new .card .card-body p {
      opacity: 0.6;
      font-weight: 600;
      }
      #slider3 .new .card .card-body .card-text .old-price {
      opacity: 0.6;
      text-decoration: line-through;
      font-weight: 600;
      }
      #slider3 .new .card .card-body .card-text .new-price {
      font-weight: 600;
      }
      #slider3 .card-body ul{
        list-style: none;
        padding-left: 70px;

      }

      #slider3 .stars i{
        color: rgb(241, 241, 59);

      }

      .posterHeadPhone{

        background-color: #f7f7f7;
        padding: 80px;
        height: 550px;
      }
      .posterHeadPhone .head{
        position: relative;
      }

      .hr2{
        padding-bottom: 100px;
        color: #d0caca;
      }
      .posterHeadPhone .right-side img{
        position: absolute;
        top: -180px;
        right: 100px;
      }

      .posterHeadPhone .left-side span{
        color: #ff497c;
        font-weight: bold;
      }
      .posterHeadPhone .left-side i{
        color: white;
      }
      .posterHeadPhone .left-side h1{
        font-weight: bold;
        
      }
      .posterHeadPhone .timer .hrs{
        background-color: white;
        text-align: center;
        border-radius: 100%;
        padding: 8px 16px 8px 16px;
      }
      .posterHeadPhone .timer .hrs span{
        color: black;
      }
      .posterHeadPhone button{
        margin-top: 45px;
        font-weight: bold;
        color: white;
        border: none;
        border-radius: 5px;
        background-color: #3577f0;
        padding: 18px 50px 18px 50px;
        transition: 0.6;
      }
      .posterHeadPhone button:hover{
        transform: scale(1.1);
      }

      .rows-slider .card-body ul{
        list-style: none;
        padding-left: 70px;

      }

      .rows-slider .stars i{
        color: rgb(241, 241, 59);

      }

      .rows-slider .card-text span{
        font-size: 22px;
      }
      .all{
        padding: 50px 0 50px 0;
      }

      .all-prod {
        margin-left: 40%;

      }
      .all-prod  a{
        text-decoration: none;
        color: #878181;
        font-weight: bold;
      }

      .all button{
        background-color: #f7f9fb;
        border: none;
        border-radius: 6px;
        padding: 16px 50px 16px 50px;

      } */

      #slider5 {
        padding-top: 50px;
    
        position: relative;
        }
        #slider5 .slick-prev {
        z-index: 1;
        position: absolute;
        top: -40px;
        left: 89%;
        background-color: #f2f2f3;
        color: #212529;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        }
        #slider5 .slick-prev::before {
        content: "<i class="fa-solid fa-angles-left"></i>";
        color: #212529;
        }
        #slider5 .slick-next {
        z-index: 1;
        position: absolute;
        top: -40px;
        right: 28px;
        background-color: #dddee3;
        color: #212529;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        opacity: 0.2;
        }
        #slider5 .slick-next::before {
        content: "<i class="fa-solid fa-angles-right"></i>";
        color: #212529;
        }
        #slider5 .new .card {
        border: none;
        padding: 0 15px;
        height: 500px;
        }
        #slider5 .new .card .card-img-top1 {
        position: relative;


        }
        #slider5 .new .card .card-img-top1 img {
        transition: 0.3s;
        cursor: pointer;
        width: 90%;
        border-radius: 100%;
        }
        #slider5 .new .card .card-img-top1 .shop-list {
          position: absolute;
          bottom: -134px;
          left: 50px;
          transition: 0.3s;
        }
        #slider5 .new .card .card-img-top1 .shop-list a {
        background-color: #fff;
        padding: 10px 10px;
        text-decoration: none;
        }
        #slider5 .new .card .card-img-top1 .shop-list .pink {
        background-color: #ff497c;
        padding: 10px 10px;
        border-radius: 5px;
        color: #fff;
        }
        #slider5 .new .card:hover img {
        transform: scale(1.1);

        }
        #slider5 .new .card .shop-list:hover{
          transform: scale(1.1);
        }
        
.shops-area a{
  text-decoration: none;
}
.shop-sidebar .toggle-list {
  padding-bottom: 25px;
}
.shops-area .shop-sidebar .toggle-list .text-title {
  border-bottom: 2px solid rgba(33, 37, 41, 0.1882352941);
}
.shops-area .shop-sidebar .toggle-list .text-title h6 {
  font-size: 22px;
  margin-bottom: 20px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .buttons {
  padding-top: 20px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .buttons button {
  background-color: #fff;
  border-radius: 40%;
  padding: 10px 10px;
  border: 1px solid rgba(33, 37, 41, 0.1882352941);
}

.shop-sidebar .toggle-list .shop-submenu .covid .container {
  margin-top: 35px;
}

.shop-sidebar .toggle-list .shop-submenu .covid .slider-labels {
  margin-top: 10px;
}

.shop-sidebar .toggle-list .shop-submenu .covid .noUi-target,

.shop-sidebar .toggle-list .shop-submenu .covid .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
 .shop-sidebar .toggle-list .shop-submenu .covid .noUi-target {
  position: relative;
  direction: ltr;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-handle {
  position: relative;
  z-index: 1;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
  its values is > 50%. */
  z-index: 10;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-state-tap .noUi-origin {
  transition: left 0.3s, top 0.3s;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-state-drag * {
  cursor: inherit !important;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-base,
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-handle {
  transform: translate3d(0, 0, 0);
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-horizontal {
  height: 4px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #345DBB;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-background {
  background: #D6D7D9;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-connect {
  background: #345DBB;
  transition: background 450ms;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-origin {
  border-radius: 2px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-target {
  border-radius: 2px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-draggable {
  cursor: w-resize;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-vertical .noUi-draggable {
  cursor: n-resize;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-handle {
  cursor: default;
  box-sizing: content-box !important;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid .noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53, 93, 187, 0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid [disabled].noUi-connect,
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid [disabled] .noUi-connect {
  background: #B8B8B8;
}
.shops-area.shop-sidebar .toggle-list .shop-submenu .covid [disabled].noUi-origin,
.shops-area .shop-sidebar .toggle-list .shop-submenu .covid [disabled] .noUi-handle {
  cursor: not-allowed;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu label {
  opacity: 0.8;
  font-size: 14px;
  padding-bottom: 5px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i1 {
  color: #906145;
  padding-right: 10px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i2 {
  color: #fab8c4;
  padding-right: 10px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i3 {
  color: #ffdc60;
  padding-right: 10px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i4 {
  color: #896ba7;
  padding-right: 10px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i5 {
  color: #dbdeff;
  padding-right: 10px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i6 {
  color: #badeff;
  padding-right: 10px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i7 {
  color: #dfbf9b;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i8 {
  color: #badeff;
  padding-right: 10px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i9 {
  color: #dbdeff;
  padding-right: 10px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i10 {
  color: #dbf8ff;
  padding-right: 10px;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #i11 {
  color: #ffeddc;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu .size {
  border: 1px solid rgba(33, 37, 41, 0.1882352941);
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #size1 {
  background-color: #3577f0;
  color: #fff;
}
.shops-area .shop-sidebar .toggle-list .shop-submenu #size7 {
  padding-top: 10px;
}
.shops-area .shop-sidebar .toggle-list .product-size {
  margin: 10px 0;
}

.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .slider-labels {
  margin-top: 10px;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-target,
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-target {
  position: relative;
  direction: ltr;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-handle {
  position: relative;
  z-index: 1;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-state-tap .noUi-origin {
  transition: left 0.3s, top 0.3s;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-state-drag * {
  cursor: inherit !important;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-base,
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-handle {
  transform: translate3d(0, 0, 0);
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-horizontal {
  height: 4px;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #345DBB;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-background {
  background: #D6D7D9;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-connect {
  background: #345DBB;
  transition: background 450ms;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-origin {
  border-radius: 2px;
}
.shops-area .shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-target {
  border-radius: 2px;
}
.shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-draggable {
  cursor: w-resize;
}
.shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-vertical .noUi-draggable {
  cursor: n-resize;
}
.shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-handle {
  cursor: default;
  box-sizing: content-box !important;
}
.shop-sidebar .toggle-list .product-price-range .shop-submenu form .noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53, 93, 187, 0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}
.shop-sidebar .toggle-list .product-price-range .shop-submenu form [disabled].noUi-connect,
.shop-sidebar .toggle-list .product-price-range .shop-submenu form [disabled] .noUi-connect {
  background: #B8B8B8;
}
.shop-sidebar .toggle-list .product-price-range .shop-submenu form [disabled].noUi-origin,
.shop-sidebar .toggle-list .product-price-range .shop-submenu form [disabled] .noUi-handle {
  cursor: not-allowed;
}
.shop-sidebar .btn {
  background-color: #3577f0;
  color: #fff;
  padding: 15px 90px;
  border: none;
  border-radius: 5px;
}
.shops-area .list-products .shop-top .category-select .filter-results {
  padding-right: 10px;
}
.shops-area .list-products .shop-top .category-select .single-select {
  padding: 15px 25px;
  border-radius: 7px;
  border: 1px solid rgba(33, 37, 41, 0.1882352941);
  outline: none;
}
.shops-area .cards-product {
  --bs-gutter-x: 2.5rem;
}
.shops-area .cards-product .card {
  border: none;
  padding: 0 15px;
}
.shops-area .cards-product .card .card-img-top {
  position: relative;
  overflow: hidden;
}
.shops-area .cards-product .card .card-img-top img {
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
}
.shops-area .cards-product .card .card-img-top .shop-list {
  position: absolute;
  bottom: -50px;
  left: 35px;
  transition: 0.3s;
}
.shops-area .cards-product .card .card-img-top .shop-list a {
  background-color: #fff;
  padding: 10px 10px;
}
.shops-area .cards-product .card .card-img-top .shop-list .pink {
  background-color: #ff497c;
  padding: 10px 10px;
  border-radius: 5px;
  color: #fff;
}
.shops-area .cards-product .card:hover img {
  transform: scale(1.1);
}
.shops-area .cards-product .card:hover .shop-list {
  bottom: 30px;
  left: 35px;
  z-index: 0;
}
.shops-area .cards-product .card .sale {
  background-color: #3577f0;
  line-height: 1;
  padding: 6px 10px 5px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(53, 119, 240, 0.3);
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 2;
}
.shops-area .cards-product .card .card-body {
  text-align: center;
  z-index: 0;
}
.shops-area .cards-product .card .card-body p {
  opacity: 0.6;
  font-weight: 600;
}
.shops-area .cards-product .card .card-body .card-text .old-price {
  opacity: 0.6;
  text-decoration: line-through;
  font-weight: 600;
}
.shops-area .cards-product .card .card-body .card-text .new-price {
  font-weight: 600;
}


     
        #slider5 .new .card .sale {
        background-color: #3577f0;
        line-height: 1;
        padding: 6px 10px 5px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        border-radius: 4px;
        box-shadow: 0 8px 16px 0 rgba(53, 119, 240, 0.3);
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 2;
        }
        #slider5 .new .card .card-body {
        text-align: center;
        z-index: 0;
        }
        #slider5 .new .card .card-body p {
        opacity: 0.6;
        font-weight: 600;
        }
        #slider5 .new .card .card-body .card-text .old-price {
        opacity: 0.6;
        text-decoration: line-through;
        font-weight: 600;
        }
        #slider5 .new .card .card-body .card-text .new-price {
        font-weight: 600;
        }


        .email1{
          background-image: url(/assests/Images/bg-image-5.jpg);
          width: 100%;
          background-size: cover;
          background-position: center;
          height: 360px;
          border-radius: 10px;
          padding: 100px;

        }


        .email1 p{
          color: #3577f0;
          font-weight: bold;
        }
        .email1 h1{
          font-weight: bold;
          padding-bottom: 30px;
        }
        
        .email1 input{
          height: 60px;
          width: 400px;
          padding-left: 20px;
          font-size: 15px;
          border-radius: 8px;
          border: none;
          outline: none;
        }
        .email1 button{
          padding: 16px 50px 18px 50px ;
          margin-left: 20px;
          border-radius: 8px;
          border: none;
          color: white;
          background-color:rgb(38, 37, 37) ;
          font-weight: bold;

        }
        
.serviceicons {
  padding: 90px 0 15px 0px;
}

.serviceicons img {
  width: 70%;
}

.servicei {
  display: flex;

}

.servicei .texticon p:nth-child(1) {
  font-weight: bold;

}



hr {
  width: 91%;
  margin-left: 60px;
  opacity: 0.2;

}

.qrcode {
  display: flex;

}

.qrcode .appgoogle {
  padding-left: 20px;
}

.qrcode .appgoogle .google {
  padding-top: 16px;
}

.foot .footer1 h1 {
  font-size: 20px;
  font-weight: bold;

}

.foot .footer1 a {
  padding-top: 18px;
  color: #6c757d;
  text-decoration: none;

}

.foot .footer1 p {

  color: #6c757d;


}
.foot .footer1 .number{
  cursor: pointer;
}

.foot .footer2 h1 {
  font-size: 20px;
  font-weight: bold;

}

.foot .footer2 a {
  text-decoration: none;
  display: block;

}

.foot .footer3 h1 {
  font-size: 20px;
  font-weight: bold;

}

.foot .footer3 a {
  text-decoration: none;
  display: block;

}

.foot .footer4 h1 {
  font-size: 20px;
  font-weight: bold;

}


.foot .line {
  position: relative;
  text-decoration: none;
  color: rgb(47, 47, 47);
  font-weight: bold;
}

.foot .inline {
  position: relative;
  text-decoration: none;
  color: rgb(47, 47, 47);
  font-weight: bold;
}



.foot .footer2 a::before {
  content: "";
  position: absolute;
  bottom: 19px;
  left: 0px;
  width: 0%;
  height: 2.5px;
  transition: 0.5s;
  background-color: #000000;

}

.foot .footer2 a:hover::before {
  width: 45%;
}

.foot .footer2 .line {
  padding-bottom: 20px;
  font-size: 15px;
  color: #6c757d;

}

.foot .footer2 a:hover::before {
  width: 25%;
}

.endofend {
  display: flex;
  justify-content: space-around;

}

.end-foot .ppp {
  font-size: 14px;
  opacity: 0.8;
}

.end-foot .iconn i {
  padding-left: 14px;
  opacity: 0.6;

}

@media (max-width: 576px) {
  .footer2 {
    padding-top: 25px;
  }

  .footer4 {
    padding-top: 25px;
  }

  .end-foot {
    display: none;
  }

  .end-footphone {
    display: block !important;
  }
  #email input{
    width: 300px;

  }
  #email button{
    margin-bottom: 150px;

  }

}

.iconns {
  display: flex;
  justify-content: space-around;
  padding: 30px 110px 20px 110px;
  opacity: 0.6;
}

.pppp {
  text-align: center;
  opacity: 0.8;
}

.endofends {
  display: flex;
  justify-content: space-around;
  padding: 10px 100px 30px 100px;
}

.end-footphone {
  display: none;
}

.iconns i {
  padding: 10px;
  border-radius: 100%;
  transition: .6s;
  cursor: pointer;
}

.iconns i:hover {
  background-color: #dc3545;
  color: white;

}

.end-foot .iconn i {
  padding: 10px;
  border-radius: 100%;
  transition: .6s;
  cursor: pointer;
}

.end-foot .iconn i:hover {
  background-color: #dc3545;
  color: white;

}

.header-action .dropdown:hover>.dropdown-menu {
  display: block;
}

.header-action .dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.header-action .button-size{
  position: relative;

}
.header-action button{
  border: none;
  position: absolute;
  left: 30px;
  top: 8px;
}

.header-action .dropdown{
  position: relative;
}

.header-action .dropdown-menu{
  position: absolute;
  left: -144px;
  top: 30px;
  width: 222px;
  transition: .6s;
}

.header-action .dropdown-menu a:hover{
  background-color: white;
  color: #3577f0;
}
.header-action .dropdown-menu .login{
  background-color: #3577f0;
  width: 180px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  transition: 0.6s;

}
.header-action .dropdown-menu .login:hover{
  background-color: #3577f0;
  transform: scale(1.1);
  color: white;
  border-radius: 5px;
}

.header-action .dropdown-menu p{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 11px;
}

.header-action .dropdown-menu span{
  font-size: 12px;
  margin-left: 12px;

}

.product-details {
  background-color: #f9f3f0;
}
.product-details .single-product-thumbnail .thumbnail {
  margin-bottom: 20px;
  z-index: -1 !important;
}
.product-details .single-product-thumbnail .thumbnail img {
  border-radius: 5px;
}
.product-details .single-product-content .inner h2 {
  font-weight: 600;
}
.product-details .single-product-content .inner span {
  font-size: 22px;
}
.product-details .single-product-content .inner .product-rating {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1882352941);
  padding: 20px 0;
}
.product-details .single-product-content .inner .product-rating .star-rating i {
  color: #ffdc60;
  font-size: 14px;
}
.product-details .single-product-content .inner .product-rating .review-link a {
  font-size: 14px;
  opacity: 0.7;
}
.product-details .single-product-content .inner .product-rating .review-link a span {
  font-size: 15px;
}
.product-details .single-product-content .inner .product-meta {
  color: #3577f0;
  padding: 10px;
}
.product-details .single-product-content .inner .description {
  font-size: 14px;
  opacity: 0.7;
  padding: 10px 0;
}
.product-details .single-product-content .inner .product-variations-wrapper .product-variation h6 {
  font-size: 17px;
  padding-right: 1rem;
}
.product-details .single-product-content .inner .product-variations-wrapper .product-variation .color-variant-wrapper .orange {
  color: #ff8666;
}
.product-details .single-product-content .inner .product-variations-wrapper .product-variation .color-variant-wrapper .red {
  color: #ff497c;
}
.product-details .single-product-content .inner .product-variations-wrapper .product-variation .color-variant-wrapper .purple {
  color: #8d6abe;
}
.product-details .single-product-content .inner .product-variations-wrapper .product-size-variation ul li {
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 50%;
}
.product-details .single-product-content .inner .product-action-wrapper .pro-qty input {
  border: none;
  outline: none;
  width: 30%;
}
.product-details .single-product-content .inner .product-action-wrapper .product-action button {
  padding: 1px 70px !important;
  border: none;
  background-color: #3577f0;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px !important;
  border: none;
  margin-right: 10px !important;
}
.product-details .single-product-content .inner .product-action-wrapper .product-action li i {
  background-color: #fff;
  padding: 20px 20px;
  border: rgba(33, 37, 41, 0.1882352941);
}
.product-details ul{
  list-style: none;
}





















































